@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

#main_div {
  display: flex;
  flex-wrap: wrap;
}

#controlsTitle {
  font-size: 175%;
  font-weight: 900;
}

#controls_div{
  -webkit-webkit: flex initial;
  -moz-webkit: flex initial;
  -ms-webkit: flex initial;
  -o-webkit: flex initial;
  flex: initial;
  width: 20%;
}

#graph_div{
  -webkit-webkit: flex 1;
  -moz-webkit: flex 1;
  -ms-webkit: flex 1;
  -o-webkit: flex 1;
  flex: 1;
  width: 100vw;
  height: 100vh;
}

#dropdown_menus{
    display: flex;
    justify-content: center;
    flex-flow: row-wrap;
    width: 100vw;
    height: 30vh;
}

.axes_div{
  /* display: flex; */
  width: 90vw
}

.dropdowns{
  flex: 1;
  width: 10vw;
}

.labelText{
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  color: white;
  font-size: 140%
}

.upload-div-interior{
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  padding: 1em;
}

.upload-div-exterior{
  width: 100%;
  padding: 1em;
  padding-right: 3em;
  padding-left: 3em;
}
