@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

#main_div {
  display: flex;
  flex-wrap: wrap;
}

#controlsTitle {
  font-size: 175%;
  font-weight: 900;
}

#controls_div{
  -webkit-webkit: flex initial;
  -moz-webkit: flex initial;
  -ms-webkit: flex initial;
  -o-webkit: flex initial;
  flex: initial;
  width: 20vw;
}

#graph_div{
  -webkit-webkit: flex 1;
  -moz-webkit: flex 1;
  -ms-webkit: flex 1;
  -o-webkit: flex 1;
  flex: 1;
  width: 100vw;
  height: 100vh;
  align-items: center;
  flex-flow: column-wrap;
}
#upload{
    text-align: center;
}

#upload-button{
    display: flex;
    justify-content: center;
    background-color: LightSkyBlue;
    color: black;
    text-align: center;
    width: 10vw;
}

#button{
    display: flex;
    justify-content: center;
    background-color: White;
    color: black;
    text-align: center;
    width: 100vw;
}


#graph-with-slider{
    display: flex;
    width: 100vw;
}

#year-slider{
    display: flex;
    height: 10vh;
}
#dropdown_menus{
    display: flex;
    justify-content: center;
    flex-flow: row-wrap;
    width: 100vw;
    height: 30vh;
    text-align: center;
}

.axes_div{
  display: flex;
  width: 90vw
}

.Select-placeholder{
    background-color: LightSkyBlue;
    color: black;
    font-weight: 500;

}
.dropdowns{
  flex: 1;
  width: 25vw;
}

.labelText{
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  color: white;
  font-size: 140%
}

.upload-div-interior{
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  padding: 1em;
}

.upload-div-exterior{
    width: 100vw;
    padding: 1em;
    padding-right: 3em;
    padding-left: 3em;
}
